@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #061004;
    color: white;
}

.name {
    font-family: 'Permanent Marker', cursive,'Roboto Mono', monospace;
}


/* layout */
.rest {
    max-width: 100%;
    margin: 0 auto;
}

@media (min-width: 1024px) {
    .rest {
        max-width: 80%;
    }

    .contacts {
        display: none;
    }
}

@media (min-width: 1536px) {
    .rest {
        max-width: 50%;
    }
}

/* hero */
.big-hero {
    display: none
}

/* md: 768px */
/* lg: 1024px */
/* xl: 1280px */
/* 2xl: 1536px */

@media(min-width:1024px) {
    .big-hero {
        display: flex;
    }

    .navbar {
        display: none;
    }

    .contacts {
        display: none
    }

    .picture {
        margin: 0 auto;
        margin-top: 2rem;
    }
}

.picture {
    width: 70%;
    margin: 0 auto;
    margin-top: 2rem;
}

/* modal */
.modal-overlay {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-box {
    z-index: 1100;
    background-color: #283618;
    width:30%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

/* colours */
.landing {
    background: linear-gradient(to bottom, #2d4730, #061004);
}

a:hover{
    color:#bdeec2;
}

/* just the email icon hover*/
.a:hover{
    color:#bdeec2;
}
/* 
i:hover {
    color:#bdeec2;
} */

