@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #061004;
    color: white;
}

.name {
    font-family: 'Roboto Mono', monospace;
}

/* layout */
.rest {
    max-width: 100%;
    margin: 0 auto;
}

@media (min-width: 1024px) {
    .rest {
        max-width: 80%;
    }
}

@media (min-width: 1536px) {
    .rest {
        max-width: 60%;
    }
}

/* hero */
.big-hero {
    display: none
}

/* md: 768px */
/* lg: 1024px */
/* xl: 1280px */
/* 2xl: 1536px */

@media(min-width:1024px) {
    .big-hero {
        display: flex;
    }

    .navbar {
        display: none;
    }

    .contacts {
        display: none
    }

    .picture {
        margin: 0 auto;
        margin-top: 2rem;
    }
}

.picture {
    width: 70%;
    margin: 0 auto;
    margin-top: 2rem;
}