@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    background-color: #061004;
    color: white;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.rest {
    max-width: 80%;
    margin: 0 auto;
    scroll-snap-align: start;
}

#about,
#experience,
#interests,
#learning-now,
#projects,
#technologies {
    scroll-snap-align: start;
}

@keyframes slideInRight {
    /* from {
        transform: translateX(100%)
        
    }
    to {
        transform: translateX(0%)
    } */

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
